<div class="col-xs-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      {{ type|uppercase }}
      <a ui-sref="entityEdit({entity: type, entityId: '__new__' })" class="btn btn-success btn-xs pull-right">
        <i class="glyphicon glyphicon-plus" />
      </a>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in items">
          <strong class="text-primary" >{{ item.id }}</strong>
          <a ng-click="remove(type, item.id)" class="btn btn-danger btn-xs pull-right">
            <i class="glyphicon glyphicon-remove" />
          </a>
          <a ui-sref="entityEdit({entity: type, entityId: item.id })" class="btn btn-warning btn-xs pull-right">
            <i class="glyphicon glyphicon-pencil" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
